.home{
    height: 40em;
    position: relative
}

.home-title{
    margin:0;
    position:absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.home-welcome{
    margin:0;
    position:absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.home-links{
    margin:0;
    position:absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.home-links a{
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid tomato;
    padding: 10px;
    border-radius: 10px;
    color:tomato
}

.home-links a:hover{
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
    color:white;
    background-color: tomato;
}